{{#each this.el}} {{!-- Document Root, filter only elements --}}
    {{#each this.el}} {{!-- Each element in document (Pages/Styles) --}}
       {{#filter_scope this "pages"}} {{!-- Pages element only --}}
        
            {{#each this.el}}
                <div class="page" style="width: {{this.el.[0].el.[0].att.bsx}}pt; text-align: left; margin: auto; position: relative;">
                    {{#gather_blocks this.el}} {{!-- Each stream, reduced to array of blocks --}}
                        {{#each this}} {{!-- Each block --}}

                            {{#create_blocks ../this this @index}} {{!-- Generates block elements --}}

                                {{#each this.el}} {{!-- Each group --}}
                                    
                                    {{~#create_group @root.el.0.el.1.el ../../../this ../this this @index ~}}
                                        {{~ display_text @root.el.0.el.1.el ../../../this ../../this ../this ~}}
                                    {{/create_group}}

                                {{/each}}

                            {{/create_blocks}}

                        {{/each}}
                    {{/gather_blocks}}
                </div>
                <hr style="page-break-after: always; width: 612pt; margin-top: 20pt; margin-bottom: 20pt; border: 0px; height: 3px; background-color: black" />
            {{/each}}

        {{/filter_scope}}{{!-- Pages element only --}}
    {{/each}}{{!-- Each element in document (Pages/Styles) --}}
{{/each}}{{!-- Document Root, filter only elements --}}