{{#each document.pages.page}}
<div class="page" style="width: {{this.att.psx}}pt; margin: auto; position: relative;">
    {{#each this.stream}}
       {{boogie "ewwdddddww"}}
    {{/each}}
    <hr style="page-break-after: always; width: {{this.att.psx}}pt; margin-top: 30px; margin-bottom: 30px; border: 0px; height: 3px; background-color: black" />
</div>
{{/each}}